/TrialApplication/*.iml
/TrialApplication/.gradle
/TrialApplication/local.properties
/TrialApplication/.idea/caches
/TrialApplication/.idea/libraries
/TrialApplication/.idea/modules.xml
/TrialApplication/.idea/workspace.xml
/TrialApplication/.idea/navEditor.xml
/TrialApplication/.idea/assetWizardSettings.xml
/TrialApplication/.DS_Store
/TrialApplication/build
/TrialApplication/captures
/TrialApplication/.externalNativeBuild
/TrialApplication/.cxx
/TrialApplication/local.properties
